pre.geshifilter {
	display:block;
	padding:0.5em;
	margin:0.5em;
  border: 1px solid #CCC;
  background-color: #FFFFFF;
}

div.geshifilter {
	display:block;
	padding:0.5em;
	margin:0.5em;
  border: 1px solid #CCC;
  background-color: #FFFFFF;
}

code.geshifilter {
	display:inline;
	padding:0;
	margin:0;
  border: none;
  background-color: none;
}
